*,
::before,
::after {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c0522;
    overflow-x: hidden;
    height: 100%;
    font-family: 'Abril fatface', sans-serif;
}

a {
    text-decoration: none;
    color: #CCB38D;
}

/* SCROLLBAR DECORATION DISABLE */
::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
    overflow-y: scroll;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background-color: #CCB38D;
    height: 300px;
    border-radius: 10px;
}

/* HEADER */
header {
    width: 100%;
    background: transparent;
    display: flex;
    position: fixed;
    transition: all 0.3s ease-in-out;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
}

.title {
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 5px;
    font-family: 'Black Ops One', cursive;

}

.anim-header {
    background: rgba(255, 255, 255, 0.15);
}

.anim-header-b {
    border-bottom: 1px solid #000;
}

.home {
    padding-top: 150px;
}

header nav {
    float: right;
    margin-right: 20px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    letter-spacing: 2px;
    margin-right: 10px;
}

.nav ul li a {
    position: relative;
    padding: 2px 10px;
    text-transform: uppercase;
    display: inline-block;
}

.nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #CCB38D;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -3px;
    transition: .3s ease-in-out;
}

.nav ul li a:hover:after {
    width: 100%;
}

.active {
    border-bottom: 3px solid #CCB38D;
    color: #CCB38D;
}

/* NAV TELEPHONE */
.onglets_tel {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}

.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
}

/* MENTION/POLITIQUE */
.mention {
    color: #fff;
    margin: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.mention h1 {
    text-align: center;
    font-size: 3rem;
}

.mention p {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

.mention p b {
    font-family: 'Black Ops One', cursive;
}

/*SECTION CONTACT*/
.section_contact {
    display: flex;
    justify-content: center;
}

.section_contact form {
    margin-right: 30px;
}

/*FORM*/
.section_contact form {
    width: 700px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    background: rgba(204, 179, 141, 0.2);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.section_contact form h1 {
    color: #fff;
    font-weight: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;

}

.section_contact form input {
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.section_contact form select {
    width: 70%;
    height: 40px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.section_contact form select:hover {
    background-color: #000;
}

.section_contact form textarea {
    background: none;
    border: none;
    width: 90%;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
}

form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

.section_contact form #button {
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #000;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

/*CONTACT*/
.contact-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Open Sans', sans-serif;
}


.contact-info div {
    background: rgba(204, 179, 141, 0.2);
    backdrop-filter: blur(10px);
    margin-top: 10px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    cursor: pointer;
}

.carte-icon {
    font-size: 25px;
    margin: 2%;
    width: 60px;
    height: 60px;
    padding: 10px;
    text-align: center;
    line-height: 60px;
    transition: 0.3s linear;
}

.contact-info div:hover .carte-icon {
    background: none;
    transform: scale(1.6);
}

.contact-info div p {
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    max-height: 0;
    opacity: 0;
    transition: 0.3s linear;
    text-align: center;
}

.contact-info div:hover p {
    max-height: 40px;
    opacity: 1;
}

/* BODY SECTION */
#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#parallax::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 15;
}

#parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#parallax img#font {
    z-index: 5;
}

#titre {
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 5vh;
    margin-top: 100px;
    z-index: 1;
}

#explore {
    text-decoration: none;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 3vh;
    height: 35px;
    width: 200px;
    margin-top: 250px;
    z-index: 1;
    scroll-behavior: smooth;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
}

#explore:hover {
    transition: all 0.3s ease-in-out;
    background: #BDBDBD;
    color: #000;
    border: 2px solid #000;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.Titre_card {
    display: block;
}

.card h1 {
    display: block;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in-out;
}

.card:hover .circle:before {
    background: gray;
    clip-path: circle(400px at center);
}

.card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    pointer-events: none;
    transition: 0.4s;
}

.card:hover img {
    left: 80%;
    transform: translate(-50%, -50%) scale(0.6);
    height: 350px;
}

.card .content {
    position: relative;
    width: 55%;
    padding: 20px 20px 20px 40px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
}

.card .content h3 {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    text-shadow: 3px 2px #000;
    margin: 3%;
}

.card .content p {
    margin: 5%;
    color: #fff;
    text-shadow: 3px 2px #000;
    font-size: 16px;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

#second h1 {
    text-align: center;
    letter-spacing: 1px;
    padding: 40px 20px 20px 20px;
    font-size: 3vh;
    color: #fff;
}

.regroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-presentation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2%;
    margin-left: 2%;
    margin-top: 20px;
    max-width: 800px;
    border-radius: 20px;
}

.image {
    width: 250px;
    height: 250px;
}

.image-p {
    color: #fff;
    text-align: center;
}

.btn {
    margin-left: 2%;
    border-radius: 10px;
}

.btn-first {
    border: 2px solid #fff;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
}

.btn-first:hover {
    transition: all 0.3s ease-in-out;
    background: #BDBDBD;
    color: #000;
    border: 2px solid #000;
}

.content a {
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    font-size: 10px;
    padding: 10px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
}

.content a:hover {
    transition: all 0.3s ease-in-out;
    background: #BDBDBD;
    color: #000;
    border: 1px solid #000;
}

/* FOOTER SECTION */
footer {
    color: #CCB38D;
    padding: 50px 100px;
}

.hr-contact {
    margin-bottom: 1%;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service {
    margin-right: 30px;
    max-width: 300px;
}

.part_1 {
    display: flex;
    flex-wrap: wrap;
}

.service h3 {
    text-transform: uppercase;
}

.service nav {
    float: left;
}

.service nav ul li {
    list-style: none;
    padding: 4px 10px;
}

.service nav ul li a {
    text-decoration: none;
    color: #fff;
}

.service nav ul li a:hover {
    color: #9e9d9d;
}

.service input {
    margin-top: 10px;
}

.service label {
    color: white;
}

.service label a {
    color: #CCB38D;
}

.service label a:hover {
    color: #9e9d9d;
}

.inp-form {
    height: 25px;
    width: 250px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #000;
    outline: none;
}

.inp-form:hover {
    background: #9e9d9d;
}

label a {
    color: #6f6f6f;
}

#contact {
    background-color: #303030;
    color: rgb(181, 181, 181);
    text-align: center;
}

/* DARKMODE BUTTON */
.toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.label {
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 26px;
    width: 45px;
    transform: scale(1);
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(19px);
}

.checkbox {
    opacity: 0;
    position: absolute;
}

/* DARKMODE ON */

div div.dark-mode {
    color: #fff;
}

header.dark-mode {
    background: #000;
    color: #fff;
}

.ball.dark-mode {
    background-color: #000;
}

.p.dark-mode {
    color: #fff;
}

.mention.dark-mode {
    color: #fff;
}

/* MEDIA */
/* WIDTH */
/* WIDTH MIN*/
@media all and (min-width:769px) {
    .onglets_tel {
        display: none;
    }
}

/* WIDTH MAX */
@media all and (max-width:991px) {
    .section_contact {
        flex-direction: column;
    }

    .section_contact form {
        width: 100%;
    }

    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
    }

    .card:hover {
        height: 700px;
    }

    .card .content {
        width: 100%;
        left: 0;
        padding: 30px;
    }

    .card:hover img {
        top: 70%;
        left: 50%;
        height: 290px;
    }
}

@media all and (max-width:769px) {
    header {
        justify-content: space-between;
    }

    header div {
        margin: 20px;
    }

    .nav {
        top: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(2px);
        width: 105%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -105%;
        transition: all 0.5s ease-in-out;
        z-index: -1;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        margin: 25px 0px 25px 0px;
        font-size: 1.4em;
    }

    .nav ul li a {
        color: #fff;
    }

    nav.menu-tel {
        margin-left: 0;
    }


    .nav div {
        display: none;
    }

    .label {
        display: none;
    }

}

@media all and (max-width:570px) {
    .form {
        padding: 0px;
    }

    #input3 {
        width: 120px;
    }
}

@media all and (max-width:425px) {
    .form {
        padding-left: 0;
        font-size: 10px;
    }

    footer {
        padding: 10px 20px;
    }

    label {
        font-size: 0.9rem;
    }

    input,
    textarea,
    select {
        font-size: 10px;
    }
}

@media all and (max-width:375px) {
    header div {
        margin: 10px;
    }
}