body {
    background-image: url('../../../ressources/font.jpg');
    height: 100%;
    font-family: 'Abril fatface' , sans-serif;
    background-position: center center;
}
/* DARKMODE ON */
/* force the display of the background image with dark mode on */
body.dark-mode {
    background-image: url('../../../ressources/font.jpg');
    background-position: center center;
}
