*, ::before, ::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    height: 100%;
    font-family: 'Abril fatface' , sans-serif;
}
a{
    text-decoration: none;
    color: #6f6f6f;
}
/* SCROLLBAR DECORATION DISABLE */
::-webkit-scrollbar{
    width: 10px;
	background-color: #000;
	overflow-y: scroll;
}
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background-color: #BDBDBD;
    height: 300px;
    border-radius: 10px;   
  }
/* HEADER */
header{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Black Ops One', cursive;
    color: #9e9d9d;
}
.home{
    padding-top: 150px;
}
header nav{
    float: right;
    margin-right: 20px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    padding: 8px 15px;
    text-transform: uppercase;
    display: inline-block;
}
h2{
    text-align: center;
    background-color: #c0c0c0;
    color: #000;
}
div div.mention{
    color: #000;
    margin: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}
div div.mention p{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
div div.mention p b{
    font-family: 'Black Ops One', cursive;
}
a:hover{
    color: #9e9d9d;
}
.form{
    display: inline-block;
    justify-content: center;
    text-align: center;
    padding-left: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.form-g{
    display: flex;
    padding: 10px;
}
select{
    height: 35px;
    width: 50%;
}
#input2{
    height: 35px;
    width: 50%;
}
#input3{
    height: 45px;
}
#input4{
    height: 80px;
    width: 50%;
}
.label-c{
    padding-top: 5px;
    padding-right: 10px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}
.label-last{
    font-family: 'Open Sans', sans-serif;
    color: #000;
}
.label-last a{
    color: #000;
    text-decoration: underline;
}
/* FOOTER SECTION */
footer{
    background-color: #fff;
    color: #000;
    padding: 50px 100px;
    margin-top: 2%;
}
.hr-contact{
    margin-bottom: 1%;
}
.services{
    display:flex;
    flex-wrap:wrap;
}
.services .service{
    margin-right: 30px;
    max-width: 350px;
}
.service h3{
    text-transform: uppercase;
}
.service nav{
    float: left;
}
.service nav ul li{
    list-style: none;
    padding: 4px 10px;
}
.service nav ul li a{
    text-decoration: none;
    color: #6f6f6f;
}
.service nav ul li a:hover{
    color: #9e9d9d;
}
.service input{
    margin-top: 10px;
}
.inp-form{
    height: 25px;
    width: 250px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #000;
    outline: none;
}
.inp-form:hover{
    background: #fff;
}
#contact{
    background-color: #303030;
    color: rgb(181, 181, 181);
    text-align: center;
}