/* HOME PAGE CODE */
*,
::before,
::after {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    height: 100vh;
    background-color: #303030;
    font-family: 'Abril fatface', sans-serif;
}

/* SETUP HOME PAGE */
video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #FFF;
}

/* SCROLLBAR DECORATION */
::-webkit-scrollbar {
    width: 5px;
    background: transparent;
    overflow-y: scroll;
}

::-webkit-scrollbar-thumb {
    background-color: #FFF;
    height: 300px;
    border-radius: 50px;
}

/* HEADER */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    padding: 40px 100px;
    z-index: 15;
}

.colle {
    padding: 10px 50px;
    background: linear-gradient(to left, #0f2027, #203a43, #2c5364);
}

.title {
    position: relative;
    text-transform: uppercase;
    font-size: larger;
    letter-spacing: 5px;
    font-family: 'Black Ops One', cursive;
    color: #FFF;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li {
    position: relative;
    list-style: none;
}

.nav ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav ul li a:after {
    content: "";
    position: absolute;
    background-color: #FFF;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -3px;
    transition: .3s ease-in-out;
}

.nav ul li a:hover:after {
    width: 100%;
}

/* NAV TELEPHONE */
.onglets_tel {
    height: 25px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
}

/* SECTION */
section {
    height: 100vh;
    width: 100%;
}

.s1 {
    background: url('../ressources/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.s2 {
    background: url('../ressources/satellites.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.s3 {
    background: url('../ressources/asteroide.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.s4 {
    background: url('../ressources/contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img1 {
    position: absolute;
    margin-top: 90vh;
    margin-left: 48%;
}

.img2 {
    position: absolute;
    margin-top: 87vh;
    margin-left: 48%;
}

.img3 {
    position: absolute;
    margin-top: 91vh;
    margin-left: 48%;
}

.img1:hover {
    transition: all 0.3s ease-in-out;
    margin-top: 91vh;
}

.img2:hover {
    transition: all 0.3s ease-in-out;
    margin-top: 86vh;
}

.img3:hover {
    transition: all 0.3s ease-in-out;
    margin-top: 92vh;
}

.bt1 {
    position: absolute;
    padding-top: 450px;
    padding-left: 450px;
}

.bt2 {
    position: absolute;
    padding-top: 450px;
    padding-left: 1200px;
}

.bt4 {
    position: absolute;
    padding-top: 450px;
    padding-left: 825px;
}

.btn-first {
    border: 2px solid #FFF;
    outline: none;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    width: 300px;
    color: #FFF;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Black Ops One', cursive;
    position: relative;
    z-index: 1;
}

.btn-first::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 77px;
    top: 0;
    left: 0;
    background-color: #303030;
    z-index: -1;
    transition: .3s ease-in-out;
}

.btn-first:hover:before {
    width: 297px;
}

/* FOOTER SECTION */
footer {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: #FFF;
    padding: 50px 100px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services .service {
    margin-right: 30px;
    max-width: 300px;
}

.part_1 {
    display: flex;
    flex-wrap: wrap;
}

.service h3 {
    text-transform: uppercase;
}

.service nav {
    float: left;
}

.service nav ul li {
    list-style: none;
    padding: 4px 10px;
}

.service nav ul li a {
    text-decoration: none;
    color: #fff;
}

.service nav ul li a:hover {
    color: #9e9d9d;
}

.service input {
    margin-top: 10px;
}

.service label {
    color: white;
}

.service label a {
    color: #FFF;
}

.service label a:hover {
    color: #9e9d9d;
}

.inp-form {
    height: 25px;
    width: 250px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    border: 2px solid #000;
    outline: none;
}

.inp-form:hover {
    background: #9e9d9d;
}

label a {
    color: #6f6f6f;
}

#contact {
    background-color: #303030;
    color: rgb(181, 181, 181);
    text-align: center;
}

/* MEDIA */
/* WIDTH MIN*/
@media all and (min-width:769px) {
    .onglets_tel {
        display: none;
    }
}

/* WIDTH MAX */
@media all and (max-width:1510px) {
    .bt2 {
        padding-left: 450px;
    }
}

@media all and (max-width:1130px) {
    .bt4 {
        padding-left: 450px;
    }

}

@media all and (max-width:1025px) {
    .bt1 {
        padding-left: 370px;
    }

    .bt2 {
        padding-left: 370px;
    }

    .bt4 {
        padding-left: 370px;
    }
}

@media all and (max-width:1024px) {
    .onglets_tel {
        display: flex;
        z-index: 100;
    }

    .nav {
        top: 0;
        left: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.10);
        margin-top: 100vh;
        transition: 0.6s ease-in-out;
    }

    header ul {
        display: block;
    }

    .nav ul li {
        padding-top: 40px;
    }

    .nav ul li a {
        font-size: 1.5em;
    }

    .menu-tel {
        margin-top: 0px;
    }
}

@media all and (max-width:780px) {
    .bt1 {
        padding-left: 250px;
    }

    .bt2 {
        padding-left: 250px;
    }

    .bt4 {
        padding-left: 250px;
    }
}

@media all and (max-width:560px) {
    .bt1 {
        padding-left: 100px;
    }

    .bt2 {
        padding-left: 100px;
    }

    .bt4 {
        padding-left: 100px;
    }
}

@media all and (max-width:425px) {

    header {
        padding: 40px 50px;
    }

    .btn-first {
        font-size: 20px;
        width: 200px;
    }

    .bt1 {
        padding-left: 100px;
    }

    .bt2 {
        padding-left: 100px;
    }

    .bt4 {
        padding-left: 100px;
    }

    footer {
        padding: 10px 20px;
        margin: 0px;
    }

    .img1 {
        margin-left: 42%;
    }

    .img2 {
        margin-left: 42%;
    }

    .img3 {
        margin-left: 42%;
    }
}

@media all and (max-width:375px) {
    header {
        padding: 40px 10px;
    }

    .colle {
        padding: 10px 10px;
    }

    .btn-first {
        font-size: 20px;
        width: 200px;
    }

    .bt1 {
        padding-left: 90px;
    }

    .bt2 {
        padding-left: 90px;
    }

    .bt4 {
        padding-left: 90px;
    }

    .img1 {
        margin-left: 43%;
    }

    .img2 {
        margin-left: 43%;
    }

    .img3 {
        margin-left: 43%;
    }
}

/* HEIGHT */
@media all and (max-height:601px) {
    .bt1 {
        padding-top: 250px;
    }

    .bt2 {
        padding-top: 250px;
    }

    .bt4 {
        padding-top: 250px;
    }
}